body {
    font-family: sans-serif;
}

li {
    font-family: inherit;
}

#assignment-instructions {
    color: #2ddf5c;
    font-family: sans-serif;
}

code {
    font-family: monospace;
    color: red;
}

.second code {
    color: #2ddf5c;
}

li ~ li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}
